<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<a rel="stylesheet" type="text/css" href="index.css">
		<title><%= title %></title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<style>
			body { background-color: #fff1cc; height: 100% }
			.nav-link { color: white !important; }
			.logo { width: 40px; }
			.my-button { text-decoration: none; color: green; }
			.my-button:hover { color: white; }
			.hidden-div { display: none; }
			/*.search-bar { border-radius: 10px; width: 250px; border-color: blue; height: 35px; }*/
			.search-results { left: 0; background: white; list-style-type: none; width: 315px; padding: 0; margin: 0 auto; border-radius: 1px blue; }
			.search-result-item { border: 1px solid blue; text-decoration: none; width: 100%; display: inline-block; height: 26px; border-radius: 5px; }
			.search-result-item.li {  }

		</style>
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="background-color: #011b35 !important">
				<div class="container-fluid">
					<a class="navbar-brand" href="/"><img class="logo" alt="Logo" src="/images/wfImage.png"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="/">Home</a>
							</li>
							<li class="nav-item dropdown">
							  	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								    <li><a class="dropdown-item" href="/products/furniture">Furniture</a></li>
								    <li><a class="dropdown-item" href="/products/electronics">Electronics</a></li>
								    <li><a class="dropdown-item" href="/products/office-supplies">Office Supplies</a></li>
								</ul>
							</li>
							<li class="nav-item">
							  <a class="nav-link" href="https://github.com/arslan-ashraf/ecommerce/blob/main/README.md">Github: Design</a>
							</li>
						</ul>
						<div class="col-sm-4 me-auto">
							<form class="d-flex">
								<input class="form-control me-2 search-bar" type="search" placeholder="Search products ..." aria-label="Search" autofocus>
							</form>
							<!-- <input type="search" class="search-bar" placeholder="Search products"> -->
						</div>

						<ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
							<% if (user) { %>
								<li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
								<li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
							<% } else { %>
								<li class="nav-item"><a class="nav-link" href="/sign-in">Log In</a></li>
								<li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
							<% } %>
							<li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
						</ul>
						
					</div>
			</div>
		</nav>
		<ul class="search-results"></ul>
		<div class="container" id="container">
			<br><br>