<%- include('../partials/basetop') %>
	<h1>Welcome <%= user.firstName %> <%= user.lastName %></h1>
	<h3>Please note: in this toy project due to very limited bandwidth, memory, and storage when you log off, all sessions and cart items will be deleted</h3>
<%- include('../partials/basebottom') %>